@import url('https://fonts.googleapis.com/css2?family=Rampart+One&display=swap');

* {
    margin: 0;
    padding: 0;

    color: #333;

    -ms-user-select: none;
    -moz-user-select: -moz-none; 
    -webkit-user-select: none; 
    -khtml-user-select: none; 
    user-select:none;
}


a {
    text-decoration: none;
}

ul, li {
    list-style: none;
}