@import url('https://fonts.googleapis.com/css2?family=Rampart+One&display=swap');

* {
    margin: 0;
    padding: 0;

    color: #333;
}

a {
    text-decoration: none;
}

ul, li {
    list-style: none;
}